@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --text-color:  #0594ec;

}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #efefef;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0,0, 0.4);
    margin-bottom: 2em;
  }
  
  nav ul {
    display: flex;
    list-style-type: none
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
  }
  nav p {
    color: #0594ec;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px
  }
  
  nav ul li a::after {
    content: '';
    background-color: #2c405e;
    position: absolute;
    left: 0;
    bottom: -1.2em;
    height: 2px;
    width: 100%;
    transition: transform 0.5s ease;
    opacity: 0;
  }
  
  
  nav ul li a:hover::after {
      transform: translateY(-1em);
      opacity: 1;
  }


  .btn {
    border: 0;
    background-color: transparent;
    font-size: 20px;
    color: #0594ec;
    padding: 2px 4px;
    display: none;
  }

  .btn:focus {
    outline: none;
    cursor: pointer;
  }


.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 3em;
    height: 100vh;
    position: relative;
}

.right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10em;
}

h1 {
    font-size: 4em;
}


.fa{
    font-size: 1.5em;
    margin: 0.5rem;
}
h3 {
  display: block;
}

/* styling the cards of the work section */

#work {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}


.container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
}


.container2 .card {
  width: 320px;
  margin: 1rem;
  padding: 1rem 1.5rem;
  background: #efefef;
  box-shadow: -6px -6px 20px rgba(255, 255,255, 1),
    6px 6px 20px rgba(0, 0,0, 0.1);

  border-radius: 2.5em;

}

.container .card:hover {
  box-shadow: inset -6px -6px 20px rgba(255, 255,255, 0.5),
    inset 6px 6px 20px rgba(0, 0,0, 0.05);
}

.container2 .card .contentBx {
  position: relative;
  margin-top: 1rem;
  text-align: center;
}

.container2 .card .contentBx h2 {
  color: var(--text-color);
  font-size: 1.4em;
  letter-spacing: 1.5px;
}

.container2 .card .contentBx a {
  display: inline-block;
  padding: 0.625em 1.25em;
  margin-top: 1rem;
  border-radius: 2.5rem;
  color: var(--text-color);
  font-size: 1em;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255, 255,255, 1),
    4px 4px 15px rgba(0, 0,0, 0.1);
}

.container2 .card .contentBx a:hover {
  box-shadow: -4px -4px 10px rgba(255, 255,255, 0.5),
  4px 4px 10px rgba(0, 0,0, 0.1);
}













  @media(max-width: 600px) {

    .btn {
      display: block;
    }
      nav ul {
          position: fixed;
          background-color: white;
          top: 80px;
          box-shadow: 0 3px 5px rgba(0, 0,0, 0.4);
          flex-direction: column;
          width: 80%;
          left: 10%;
          align-items: center;
          transform: translateX(120%);
          transition: transform 0.4s ease;
      }

      nav ul.show {
          transform: translateX(0); 
      }

      nav ul li {
          margin: 15px;
      }
  }

  .fa {
      background-color: green;
  }

